
td {
border: 5px solid #000;
transition: transform 2s ease-in-out, background-color 2s;
background-color: #7FFFD4;
width: 90px;
height: 90px;
}

tbody {
	text-align: center;
}

.active {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

td:hover {
	background-color: #1E90FF;
}

table {
	margin: 100px auto;
}

body{
	background-image: url("http://screenshots.en.sftcdn.net/en/scrn/3353000/3353302/scr_0-700x509.png")
}
 h1 {
 	font-size: 80px;
 	text-align: center;
 	background-color: white;
 	opacity: 0.9	; 
 	font-family: "Trebuchet MS", Helvetica, sans-serif;
 }